<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doodle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doodle">
        <activity
            android:name=".activities.GameGalleryActivity"
            android:label="@string/game_results" />
        <activity
            android:name=".activities.ContributionsGalleryActivity"
            android:label="@string/Contributions" />
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/Game" />
        <activity
            android:name=".activities.WaitingRoomActivity"
            android:label="@string/Waiting_Room" />
        <activity
            android:name=".activities.ContributeActivity"
            android:label="@string/Contribute" />
        <activity
            android:name=".activities.DoodleActivity"
            android:label="@string/Doodle" />
        <activity
            android:name=".activities.GameModeActivity"
            android:label="@string/Game_Mode" />
        <activity
            android:name=".activities.DoodleModeActivity"
            android:label="@string/Doodle_Mode" />
        <activity
            android:name=".activities.GalleryActivity"
            android:label="@string/Gallery" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/Profile" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.LoginSignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="@string/firebase_sender_id" />

        <service android:name="com.parse.fcm.ParseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>